/* actually, don't reset for the C-SNIP project; let a real designer decide!
@import "/stylesheets/reset.css";
*/

a.cancel { color: #d00; }
div#login { float: right; }

p { margin-top: 0.5em; }
label { display: inline-block; width: 150px; text-align: right; padding-right: 0.5em; }

/* flash */

div.flash {
  margin: 0 auto 20px auto;
  text-align: left;
}

.flash {
  border: 0;
  padding: 0.75em;
  font-size: 14px;
}
.error   { border: 1px solid #d66;    color: #000; background: #fbb;    }
.success { border: 1px solid #229000; color: #fff; background: #45b024; }
.notice  { border: 1px solid #e5e57c; color: #000; background: #fdfb88; }

/* end flash */

/* error_messages_for */

div#errorExplanation {
  margin-bottom: 1em;
  border-bottom: 1px solid #999;
  padding-bottom: 1em;
}

div#errorExplanation h2 {
  margin-bottom: 0.5em;
  font-size: 14px;
  color: #d00;
}

div#errorExplanation p {
  display: none;
}

div#errorExplanation ul {
  padding-left: 13px;
}

div#errorExplanation ul li {
  margin-bottom: 0.5em;
  font-size: 12px;
  color: #511;
}

div.field .fieldWithError {
  border: 1px solid #d00;
  background: #fdd;
}

/* end error_messages_for */

/* table begin */

table { width: 100%; }
table tr.odd td {
  background: #f6f6f6;
}

table tr th {
  border-left: 1px solid #406a98;
  padding: 9px 19px 9px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  background: #003875;
}

table tr th.first,
table tr td.first {
  border-left: 0;
}

table tr th.number,
table tr td.number {
  text-align: right;
}

table tr.totals td {
  font-weight: bold;
  background: #f0f0f0;
}

table tr td {
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #ccc;
  padding: 9px 10px;
  font-size: 12px;
}

table tr td.total {
  font-weight: bold;
  background: #f0f0f0;
}

table tr td.total_column {
  border-left: 2px solid #7f7f7f;
  font-weight: bold;
  background: #f0f0f0;
}

table tr td.date {
  white-space: nowrap;
}
table tr td.nowrap {
  white-space: nowrap;
}

table tr td a {
  color: #00ab67;
  text-decoration: none;
}

table tr td a img {
  border: 0;
}

/* end table */

/* footer begin */

body { padding-bottom: 40px; }
div#footer {
  clear: both;
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0 !important;
  bottom: -1px;
  right: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 8px 10px;
  text-align: right;
  background: #eee;
}

div#footer div a {
  color: #003875;
}

div#footer div p {
  margin-bottom: 7px;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 12px;
}
div#footer div p#copyright {
  margin-bottom: 0;
  font-size: 11px;
}
/* end footer */

a.button img, img.button {
  border: 0;
}
a.button img {
  margin-right: 5px;
}
