// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass
// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
+blueprint-scaffolding("body.bp")

!blueprint_grid_columns = 18

body.bp
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  background: #0F6CA3 none repeat scroll 0 0
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
form.bp
  +blueprint-form

  textarea
    height: 70px
    width: 250px

  .required
    > label:after
      content: "*"
      font-weight: bolder
      color: red
    input[type="radio"] + label:after
      content: ""

// Page layout can be done using mixins applied to your semantic classes and IDs:

body.bp.admin
  background-color: #ddd
body.bp.appointment_request
  background: #003366	
  background-image: url('http://www.csnip.org/images/background-image.jpg')
  background-repeat: repeat-x

=text-shadow (!values)
  -moz-text-shadow= !values
  -webkit-text-shadow= !values
  text-shadow= !values
   
body.admin
  #header
    background = white "url(/images/background-gradient.gif)" "repeat-x" scroll


#bar
  padding: 10px

#container
  +container
  background-color: white

#header
  +column(24, true)
  padding: 10px

      
  
#header h1
  margin-top: 30px
  font-size: 26px
  +text-shadow (1px 1px 1px #333)  
  float: right
  margin-right: 40px
  color: #fff

h2
  margin-left: -5px
  border-left: 5px solid #0f63ac
  margin-top: 0
  padding-left: 10px
  font-size: 16px

#login_link
  float: right

form.simple
  label
    display: inline-block
    width: 150px
    text-align: right
    font-weight: bold
    padding-right: 0.5em

#errorExplanation
  p
    font-size: 12px
  li
    font-size: 12px

.user_info, .pet_information, .litter_information
  +column(!blueprint_grid_columns / 2)
  +prepend(2)

.pet_history
  +column((!blueprint_grid_columns / 2), true)
.address_container
  +column(!blueprint_grid_columns / 2, true)

#errorExplanationContainer
  +column((!blueprint_grid_columns - 2), true)
  +prepend(2)

.finished, .request, #users_new, .login
  +column((!blueprint_grid_columns), true)
  +prepend(2)

#appointments_listing td
  border-bottom: 1px solid #c9d9ff
  
#appointments_listing .last td
  border-bottom: none

.pagination
  :margin-bottom 10px
  :text-align center
  :padding .3em
  a, span
    :padding .2em .5em
  span.disabled
    :color #AAA
  span.current
    :font-weight bold
  a
    :border 1px solid #c9d9ff
    :text-decoration none
    &:hover, &:focus
      :border-color #c9d9ff
      :background #c9d9ff
      :color white
  .page_info
    :color #aaa
    :padding-top .8em
  .prev_page, .next_page
    :border-width 1px
  .prev_page
    :margin-right 1em
  .next_page
    :margin-left 1em
    
.finished  
  text-align: center
  margin-bottom: 40px
  
.for_cat .dog_only
  display: none

.for_dog .cat_only
  display: none

.form-errors
  input
    background: #FBE3E4 none repeat scroll 0 0 !important  
  label
    color: #8A1F11
    
.notes
  color: #666

.no_data
  text-align: center

.thanks
  padding-top: 1em
  +column(!blueprint_grid_columns, true)
  +prepend(2)
  font-size: 1.5em

#appointments_listing
  padding: 5px
.search 
  padding: 10px
  input
    margin-right: 8px
  .booleans
    padding-top: 5px

.single_record th
  text-align: right
  
.search
  padding: 1em
  background: #eee
  border: 1px solid #ccc
  margin: 5px

.search .button
  float: right

.separator
  padding-left: 3px
  padding-right: 3px
  color: #666
  
.search_statistics
  text-align: right
  padding-right: 5px