<div class="instructions">
  C-SNIP is a non-profit organization offering reduced-cost spay/neuter surgery. Each surgery must be
  subsidized by donations from the public in order for C-SNIP to cover costs. It is important for you
  to understand that the risk of injury or death, although extremely low, is always present just as it
  is for humans who undergo surgery. Carefully read and understand the following before initialing and
  signing your name
</div>

<div>
  <ul>
    <li>I certify I cannot afford to use the services of a private veterinarian at this time.</li>
    <li>I, acting as owner or agent of the animal described above, authorize C-SNIP permission to surgically sterilize my pet.</li>
    <li>I certify my animal is in good health and has had no food since midnight. (Since 7am if under 6 months.)</li>
    <li>I understand:</li>
    <ul>
      <li>If my pet is pregnant, in heat, is incubating an infectious disease, or other factors not detected in the pre-op examination,
        I will not hold C-SNIP responsible for surgical complications that may result.</li>
      <li>That vaccinations are the best protection against infections disease and if my animal is not current on its vaccinations, 
        it is at increased risk of contracting infectious disease. I will not hold C-SNIP responsible for the cost of any medical 
        treatment required due to the lack of current vaccinations.</li>
      <li>C-SNIP will perform a basic pre-op examination conducted by a licensed veterinarian.</li>
      <li>C-SNIP has the right to refuse service for any animal at any time.</li>
      <li>If my pet is pregnant, the pregnancy will be terminated at surgery.</li>
      <li>If my pet is pregnant, has undescended testicles, or has an open umbilical hernia and can be repaired at the time of surgery 
        there will be an additional charge of $15.</li>
    </ul>
    <li>I understand:</li>
    <ul>
      <li>If it is determined that my pet has already been spayed or neutered after medication and anesthetic have been administered, the
        surgery fee will apply.</li>
      <li>If I don't retrieve my pet at the required time, this may constitute abandonment. C-SNIP will exercise the right at its
        discretion to either turn the animal over to a local shelter or charge at $25 fee for late pickup.</li>
    </ul>
  </ul>
</div>

<div>
  Your animal will receive a small tattoo on his/her underside to show that he/she has been sterilized.
</div>